/* Fonts */
@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik/Rubik-Regular.ttf');
}

@font-face {
  font-family: "Rubik";
  font-weight: bold;
  src: url('fonts/Rubik/Rubik-Bold.ttf');
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  src: url('fonts/Rubik/Rubik-Italic.ttf');
}

@font-face {
  font-family: "Rubik";
  font-style: oblique;
  src: url('fonts/Rubik/Rubik-Light.ttf');
}

/*--------*/

* {
  font-family: "Rubik" ;
  font-weight: 500 ;
}

header {
  margin-top: 50px ;
  display : flex ;
  flex-direction : row ;
  justify-content: center ;
  width : 100% ;
}

div.resume {
  text-align: center;
  padding-bottom: 35px;
}

div.resume > h3 {
  margin-top: 0px;
  color : #4674C1;
  font-size: 25px;
}

img.me {
  display : block ;
  max-width : 125px ;
  height : 125px ;
  margin-right : 20px;
}

div.bottombanner {
  position : fixed ;
  bottom : 0;
  left : 0;
  width : 100% ;
  height: 20px ;
  background-color: #4674C1 ;
}


div.row {
  display: flex ;
  flex-direction: row ;
  position: absolute;
}

div.languages {
  left : 5 ;
  top : 5 ;
}

span.language {
  margin-right : 5 ;
  cursor: pointer;
}

span.language.selected {
  font-weight: bold;
}

div.column {
  display: flex ;
  flex-direction: column ;
  position: absolute;
  right : 0 ;
}

div.top {
  top : 0 ;
}

div.bottom {
  bottom : 20px;
}

i.sideicon {
  margin : 3px;
}

.top > .sideicon:first-child {
  margin-top : 6px;
}

.bottom > .sideicon:last-child {
  margin-bottom : 6px;
}


h1 {
  margin-top : 10px;
  margin-bottom: 10px;
  color : #4674C1 ;
}

h2 {
  font-size: 22px;
  margin-top: 0px;
  margin-right: 20px;
}

main {
  display: flex ;
  flex-direction: column ;
  justify-content: center ;
  align-items: center ;
}

p:first-child {
  text-align : justify ;
  margin : 30px 30px 0px 30px ;
  max-width: 500px ;
}

p {
  text-align : justify ;
  margin : 20px 30px 30px 30px ;
  max-width: 500px ;
}

div.buttons {
  display: flex ;
  justify-content: center ;
}

span.button > a {
  color : white ;
  font-size : 20px ;
  padding : 10px ;
  border-radius: 5px ;
  background-color: #4674C1 ;
  cursor: pointer;
  text-decoration: none;
  margin: 5px;
}

div.social {
  text-align :center;
}

a {
  color : black ;
}

div.social > a > i {
  margin-left : 10px ;
  margin-right : 10px ;
}

/* Portfolio */

body.portfolio {
  background-color: #4674C1 ;
}

h1.portfolio {
  display: fixed ;
  color : white ;
  text-align: left ;
  margin : 20px 0 10px 25px ;

}

h1.portfolio > a {
  text-decoration: none ;
}

.MySlides > img {
  width : 60% ;
  margin : 0 ;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

div.Slideshow {
  margin-top : 50px ;
  text-align: center ;
  max-width: 100% ;

}

div.switch {
  display: flex ;
  flex-direction: row ;
  justify-content: center;
  align-items: center ;
  margin-top : 10px ;
}

span.slidename {
margin : 0px 10px 0 10px ;
font-size: 20px ;
color : white ;
}

.button {
  color : white ;
  font-size : 25px ;
}

p > strong {
  font-weight: bold;
}


/* ---END
